openapi: 3.1.0
info:
  title: compagniaTrasportoAPI
  version: '1.0'
  description: È l'API SOAP offerta dalla compagnia di trasporto che racchiude la capability di prenotare un servizio di trasporto per il cliente dal suo domicilio all'aeroporto da cui parte l'aereo di suo interesse.
jsonSchemaDialect: 'https://json-schema.org/draft/2020-12/schema'
servers:
  - url: 'https://stoplight.io/mocks/soseng-unibo/soseng-project-documentation/7905322'
    description: testing
paths:
  /richiesta:
    post:
      summary: Prenota un servizio di trasporto
      operationId: richiesta
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              type: object
              properties:
                luoghi:
                  $ref: '#/components/schemas/luoghi'
                data:
                  $ref: "#/components/schemas/data"
                ora:
                  $ref: "#/components/schemas/ora"
                sid:
                  $ref: "#/components/schemas/sid"
              #$ref: '#/components/schemas/dati_richiesta'
            examples:
              Esempio:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:null="null.xsd">
                     <soapenv:Header/>
                     <soapenv:Body>
                        <null:richiesta>
                           <luoghi>
                              <arrivo>
                                 <comune>Campomarino</comune>
                                 <via>Via Cuoro 1</via>
                              </arrivo>
                              <partenza>
                                 <aeroporto>BLQ</aeroporto>
                              </partenza>
                           </luoghi>
                           <data>
                              <anno>2020</anno>
                              <giorno>12</giorno>
                              <mese>11</mese>
                           </data>
                           <ora>
                              <hh>12</hh>
                              <mm>30</mm>
                           </ora>
                           <sid>
                              <sid>6ey2qgrfhjqv</sid>
                           </sid>
                        </null:richiesta>
                     </soapenv:Body>
                  </soapenv:Envelope>
        required: true
      description: Consente di prenotare una navetta
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    parameters: []
  /login:
    post:
      summary: Login
      operationId: login
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/dati_login'
        required: true
      description: Consente l'autenticazione fornendo username e password.
      responses:
        '200':
          description: Successfully retrieved the response
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/sid'
      deprecated: false
    parameters: []
  /registrazione:
    post:
      summary: Registrazione
      operationId: registrazione
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/dati_registrazione'
        required: true
      description: Consente ad un nuovo utente di registrarsi con un nuovo username e una password.
      responses:
        '200':
          description: Successfully retrieved the response
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/response'
      deprecated: false
    parameters: []
components:
  schemas:
    aeroporto:
      title: aeroporto
      required:
        - aeroporto
      type: object
      properties:
        aeroporto:
          type: string
          xml:
            name: aeroporto
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
      description: ''
      xml:
        name: aeroporto
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    indirizzo:
      title: indirizzo
      required:
        - comune
        - via
      type: object
      properties:
        comune:
          type: string
          xml:
            name: comune
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
        via:
          type: string
          xml:
            name: via
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
      description: ''
      xml:
        name: indirizzo
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    richiesta:
      title: richiesta
      required:
        - luoghi
        - data
        - ora
        - sid
      type: object
      properties:
        luoghi:
          $ref: '#/components/schemas/luoghi'
        data:
          $ref: '#/components/schemas/data'
        ora:
          $ref: '#/components/schemas/ora'
        sid:
          type: string
          xml:
            name: sid
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
      description: ''
      xml:
        name: richiesta
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    login:
      title: login
      required:
        - password
        - username
      type: object
      properties:
        password:
          type: string
          xml:
            name: password
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
        username:
          type: string
          xml:
            name: username
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
      description: ''
      xml:
        name: login
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    loginResponse:
      title: loginResponse
      required:
        - sid
      type: object
      properties:
        sid:
          type: string
          xml:
            name: sid
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
      description: ''
      xml:
        name: loginResponse
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    registrazione:
      title: registrazione
      required:
        - password
        - username
      type: object
      properties:
        password:
          type: string
          xml:
            name: password
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
        username:
          type: string
          xml:
            name: username
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
      description: ''
      xml:
        name: registrazione
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    registrazioneResponse:
      title: registrazioneResponse
      required:
        - text
      type: object
      properties:
        text:
          type: string
          xml:
            name: text
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
      description: ''
      xml:
        name: registrazioneResponse
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    data:
      title: data
      required:
        - anno
        - giorno
        - mese
      type: object
      properties:
        anno:
          type: integer
          contentEncoding: int32
          xml:
            name: anno
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
        giorno:
          type: integer
          contentEncoding: int32
          xml:
            name: giorno
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
        mese:
          type: integer
          contentEncoding: int32
          xml:
            name: mese
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
      description: ''
      xml:
        name: data
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    dati_login:
      title: dati_login
      required:
        - login
      type: object
      properties:
        login:
          $ref: '#/components/schemas/login'
    dati_registrazione:
      title: dati_registrazione
      required:
        - registrazione
      type: object
      properties:
        registrazione:
          $ref: '#/components/schemas/registrazione'
    dati_richiesta:
      title: dati_richiesta
      required:
        - richiesta
      type: object
      properties:
        richiesta:
          $ref: '#/components/schemas/richiesta'
    luoghi:
      title: luoghi
      required:
        - arrivo
        - partenza
      type: object
      properties:
        arrivo:
          $ref: '#/components/schemas/aeroporto'
        partenza:
          $ref: '#/components/schemas/indirizzo'
      description: ''
      xml:
        name: luoghi
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    ora:
      title: ora
      required:
        - hh
        - mm
      type: object
      properties:
        hh:
          type: integer
          contentEncoding: int32
          xml:
            name: hh
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
        mm:
          type: integer
          contentEncoding: int32
          xml:
            name: mm
            namespace: it.unibo.soseng.acmesky.wsdl.xsd
            prefix: xsd1
            attribute: false
            wrapped: false
      description: ''
      xml:
        name: ora
        namespace: it.unibo.soseng.acmesky.wsdl.xsd
        prefix: xsd1
        attribute: false
        wrapped: false
    response:
      title: response
      required:
        - registrazioneResponse
      type: object
      properties:
        registrazioneResponse:
          $ref: '#/components/schemas/registrazioneResponse'
      xml:
        name: response
        attribute: false
        wrapped: false
    sid:
      title: sid
      required:
        - loginResponse
      type: object
      properties:
        loginResponse:
          $ref: '#/components/schemas/loginResponse'
      xml:
        name: sid
        attribute: false
        wrapped: false
tags:
  - name: NoleggioPortSOAPBinding
    description: ''
