openapi: 3.0.0
info:
  title: prontogramAPI
  version: '1.0'
  description: È l'API offerta dall'applicazione di messaggistica *Prontogram* che vi racchiude la capability di inoltrare i messaggi circa le offerte inviate da ACMESky ai clienti interessati.
servers:
  - url: 'https://soseng-unibo.stoplight.io/mocks/soseng-unibo/soseng-project-documentation/6636887'
    description: testing
paths:
  /message:
    get:
      summary: Restituisci tutti i messaggi
      tags: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              description: ''
              type: object
            examples:
              example-1: {}
          application/xml:
            schema:
              type: object
              properties: {}
        description: 'Il body della richiesta e della risposta HTTP è di tipo `application/vnd.api+json` in quanto l''API prontogramAPI è al livello 3 di modello di maturità di Richardson: nella risposta sono presenti anche i campi `links` per permettere l''esplorazione dinamica, come richiesto da RMML3.'
      operationId: post-allmessage
      description: 'È la risorsa che, a fronte di una richiesta HTTP nella cui intestazione vi è un `token` identificativo valido, restituisce tutti i messaggi (in blocchi di cardinalità 20) accessibili al fruitore (utente o ACMESky) identificato da quel token: in dettaglio, l''utente ha accesso solo ai messaggi di cui è destinatario, mentre ACMESky ha accesso a tutti i messaggi che ha inoltrato ai suoi utenti mediante Prontogram (potrebbe richiederli per fini statistici, ad esempio).'
      security:
        - tokenSessione: []
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                description: ''
                type: object
                properties:
                  links:
                    type: object
                    description: Link a livello dei blocchi di messaggi
                    properties:
                      self:
                        type: string
                        description: Link al blocco corrente
                      next:
                        type: string
                        description: Link al blocco successivo in senso temporale
                      prev:
                        type: string
                        description: Link al blocco precedente in senso temporale
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: object
                          properties:
                            body:
                              type: string
                              description: Descrizione dell'offerta e codice identificativo della coppia cliente - offerta
                            receiver:
                              type: string
                            data:
                              $ref: ./compagnia_trasporto.v1.yaml#/components/schemas/data
                            id:
                              type: integer
                        links:
                          type: object
                          description: Link a livello dei singoli messaggiLink a livello dei singoli messaggi
                          properties:
                            self:
                              type: string
                              description: Link al messaggio corrente
                            next:
                              type: string
                              description: Link a messaggio successivo in senso temporale
                            prev:
                              type: string
                              description: Link al messaggio precedente in senso temporale
              examples:
                /message/mariorossi:
                  value:
                    links:
                      self: /message/mariorossi/from/0
                      next: /message/mariorossi/from/10
                      prev: /message/mariorossi/from/0
                    data:
                      - message:
                          body: 'nuova offerta, codice 1234'
                          receiver: mariorossi
                          date: '2020-03-02, 16:06 CET'
                        links:
                          self: /message/mariorossi/0
                          next: /message/mariorossi/1
                          prev: /message/mariorossi/0
                      - message:
                          body: 'nuova offerta, codice 1235'
                          receiver: mariorossi
                          date: '2020-03-05, 12:06 CET'
                        links:
                          self: /message/mariorossi/1
                          next: /message/mariorossi/2
                          prev: /message/mariorossi/0
                /message/mariorossi/4:
                  value:
                    links:
                      self: /message/mariorossi/4
                      next: /message/mariorossi/5
                      prev: /message/mariorossi/3
                    data:
                      - message:
                          body: 'nuova offerta, codice 1234'
                          receiver: mariorossi
                          date: '2020-03-02, 16:06 CET'
                        links:
                          self: /message/mariorossi/4
                          next: /message/mariorossi/5
                          prev: /message/mariorossi/3
        '400':
          description: Bad Request
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
    parameters:
      - required: true
  /createmessage:
    post:
      summary: Invia messaggio
      operationId: post-createmessage
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
          headers: {}
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
      description: 'È la risorsa che, a fronte di una richiesta HTTP nella cui intestazione vi è un `token` identificativo valido, invia un messaggio il cui corpo e destinatario sono quelli specificati nel body della richiesta HTTP.'
      parameters: []
      security:
        - tokenSessione: []
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              description: ''
              type: object
              properties:
                data:
                  type: object
                  properties:
                    receiver:
                      type: string
                    body:
                      type: string
                      description: Descrizione dell'offerta e codice identificativo della coppia cliente - offerta
            examples:
              Esempio di messaggio:
                value:
                  data:
                    receiver: Mario rossi
                    body: 'Nuova offerta. Inserisci codice sul sito: 1234'
        description: Il body della richiesta HTTP è di tipo `application/vnd.api+json` in quanto l'API prontogramAPI è al livello 3 di modello di maturità di Richardson.
  '/message/{username}':
    parameters:
      - schema:
          type: string
        name: username
        in: path
        required: true
    get:
      summary: Restituisci i primi 10 messaggi del cliente
      tags: []
      responses:
        '308':
          description: Permanent Redirect (experiemental)
          headers:
            Location:
              schema:
                type: string
              description: '/message/{username}/from/0'
        '400':
          description: Bad Request
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
      operationId: get-message-username
      security:
        - tokenSessione: []
      description: |-
        È la risorsa che, a fronte di una richiesta HTTP nella cui intestazione vi è un `token` identificativo valido, restituisce i primi 20 messaggi inviati al cliente il cui username è pari al parametro di query `username`.

        In caso la richiesta HTTP abbia esito positivo, la risposta è un reindirizzamento alla risorsa `/message/{username}/from/0`
  '/message/{username}/from/{messageid}':
    parameters:
      - schema:
          type: string
        name: username
        in: path
        required: true
      - schema:
          type: string
        name: messageid
        in: path
        required: true
    get:
      summary: Restituisci 10 messaggi del cliente
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    description: ''
                    properties:
                      message:
                        type: array
                        uniqueItems: true
                        items:
                          type: object
                          properties:
                            body:
                              type: string
                              description: Descrizione dell'offerta e codice identificativo della coppia cliente - offerta
                            data:
                              $ref: ./compagnia_trasporto.v1.yaml#/components/schemas/data
                            links:
                              type: object
                              description: Link a livello dei singoli messaggi
                              properties:
                                self:
                                  type: string
                                  description: Link a messaggio corrente
                                next:
                                  type: string
                                  description: Link a messaggio successivo in senso temporale
                                prev:
                                  type: string
                                  description: Link a messaggio precedente in senso temporale
                            id:
                              type: integer
                  links:
                    type: object
                    description: Link a livello dei blocchi di messaggi
                    properties:
                      self:
                        type: string
                        description: Link al blocco corrente in senso temporale
                      next:
                        type: string
                        description: Link al blocco successivo in senso temporale
                      prev:
                        type: string
                        description: Link al blocco precedente in senso temporale
              examples:
                Esempio 1:
                  value:
                    data:
                      message:
                        - sender: ACMEsky
                          body: 'Nuova offerta, inserisci codice 1234'
                          date: '2021-03-04, 21:25 CET'
                          links:
                            self: /message/mariorossi/0
                            next: /message/mariorossi/1
                            prev: /message/mariorossi/0
                        - sender: ACMEsky
                          body: 'Nuova offerta, inserisci codice 4321'
                          date: '2021-03-04, 21:25 CET'
                          links:
                            self: /message/mariorossi/1
                            next: /message/mariorossi/2
                            prev: /message/mariorossi/0
                    links:
                      self: /message/mariorossi/from/0
                      next: /message/mariorossi/from/10
                      prev: /message/mariorossi/from/0
        '400':
          description: Bad Request
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
      operationId: get-message-username-from-messageid
      security:
        - tokenSessione: []
      description: |-
        È la risorsa che, a fronte di una richiesta HTTP nella cui intestazione vi è un `token` identificativo valido, restituisce i 10 messaggi successivi a quello con id pari al parametro di query `messageId` e inviati al cliente il cui username è pari al parametro di query `username`.

        Il body della richiesta e della risposta HTTP è di tipo `application/vnd.api+json` in quanto l'API prontogramAPI è al livello 3 di modello di maturità di Richardson: nella risposta sono presenti anche i campi `links` per permettere l'esplorazione dinamica, come richiesto da RMML3.
  '/message/{username}/{messageid}':
    parameters:
      - schema:
          type: string
        name: username
        in: path
        required: true
      - schema:
          type: string
        name: messageid
        in: path
        required: true
    get:
      summary: Restituisci il messaggio del cliente
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - body
                      - date
                    properties:
                      body:
                        type: string
                        minLength: 1
                      date:
                        type: string
                        minLength: 1
                      id:
                        type: integer
                  links:
                    type: object
                    required:
                      - self
                      - next
                      - prev
                    properties:
                      self:
                        type: string
                        minLength: 1
                        description: Link al messaggio corrente
                      next:
                        type: string
                        minLength: 1
                        description: Link a messaggio successivo in senso temporale
                      prev:
                        type: string
                        minLength: 1
                        description: Link a messaggio precedente in senso temporale
                  meta:
                    type: object
                required:
                  - data
                  - links
                  - meta
              examples:
                example 1:
                  value:
                    data:
                      sender: ACMEsky
                      body: 'Nuova offerta, inserisci codice 1234'
                      date: '2021-03-04, 21:25 CET'
                    links:
                      self: /message/mariorossi/1
                      next: /message/mariorossi/2
                      prev: /message/mariorossi/0
                    meta:
                      id: 1234
        '400':
          description: Bad Request
        '406':
          description: Not Acceptable
      operationId: get-message-username-messageid
      security:
        - tokenSessione: []
      description: |-
        È la risorsa che, a fronte di una richiesta HTTP nella cui intestazione vi è un `token` identificativo valido, restituisce il messaggio con id pari al parametro di query `messageid` inviato al cliente il cui username è pari al parametro di query `username`.

        Il body della richiesta e della risposta HTTP è di tipo `application/vnd.api+json` in quanto l'API prontogramAPI è al livello 3 di modello di maturità di Richardson: nella risposta sono presenti anche i campi `links` per permettere l'esplorazione dinamica, come richiesto da RMML3.
components:
  securitySchemes:
    tokenSessione:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
      description: Abbiamo utilizzato OAuth2 come schema di sicurezza perché consente di creare un token di sessione che permette agli utenti di essere identificati da Prontogram e di fruire dei servizi che espone.
